<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>홈 - 밤플릭스</title>
    <link rel="stylesheet" th:href="@{/css/index/css/bootstrap.min.css}"/>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        .navbar {
            background-color: transparent;
        }

        .navbar-brand img {
            max-width: 100px;
        }

        .navbar-nav {
            margin-right: auto;
        }

        .navbar-light .navbar-nav .nav-link {
            color: white;
            margin-left: 15px;
        }

        .navbar-light .navbar-nav .nav-link.active {
            font-weight: bold;
        }

        .navbar-light .navbar-toggler-icon {
            background-color: white; /* 햄버거 아이콘의 배경 색상을 흰색으로 설정 */
        }

        /* 화면 배경을 검정색으로 설정 */
        body {
            background-color: black;
            color: white; /* 텍스트 색상을 흰색으로 설정 */
        }
    </style>
</head>
<script src="https://cdn.iamport.kr/v1/iamport.js" />

<!--<script src="/js/order.js"></script>-->

<!--<script>-->
<!--    function payment(){-->
<!--        const data = {-->
<!--            merchant_uid: createOrderNum(),-->
<!--            name : getNames(),-->
<!--            amount : getAmount(),-->
<!--            buyer_email: document.querySelector("input[name=buyer_email]").value,-->
<!--            buyer_name: document.querySelector("input[name=buyer_name]").value,-->
<!--            buyer_tel: document.querySelector("input[name=buyer_phone]").value-->
<!--        }-->

<!--        requestPay(data);-->
<!--    }-->

<!--    function createOrderNum(){-->
<!--        const today = new Date();-->
<!--        const hours = today.getHours(); // 시-->
<!--        const minutes = today.getMinutes();  // 분-->
<!--        const seconds = today.getSeconds();  // 초-->
<!--        const milliseconds = today.getMilliseconds();-->
<!--        const makeMerchantUid = "IMP" + hours +  minutes + seconds + milliseconds;-->

<!--        return makeMerchantUid;-->
<!--    }-->

<!--    function getNames(){-->
<!--        const nameList = document.querySelectorAll("input[name=product_name]");-->
<!--        let names = "";-->

<!--        nameList.forEach((name, index) => {-->
<!--            if(index === nameList.length -1){-->
<!--               names += name.value;-->
<!--            }else {-->
<!--                names += name.value + ", ";-->
<!--            }-->
<!--        });-->

<!--        return names;-->
<!--    }-->

<!--    function getAmount(){-->
<!--        const amountList = document.querySelectorAll("input[name=product_price]");-->
<!--        let amounts = 0;-->

<!--        amountList.forEach((amount, index) => {-->
<!--            if(index === amountList.length -1){-->
<!--                amounts += amount.value;-->
<!--            }else {-->
<!--                amounts += amount.value + ", ";-->
<!--            }-->
<!--        });-->

<!--        return amounts;-->
<!--    }-->

<!--    var IMP = window.IMP;-->
<!--    IMP.init('imp00155867')-->

<!--    function requestPay(data) {-->
<!--        IMP.request_pay({-->
<!--            pg : 'html5_inicis',-->
<!--            pay_method : 'card',-->
<!--            merchant_uid: data.merchant_uid,-->
<!--            name : data.name,-->
<!--            amount : data.amount,-->
<!--            buyer_email: data.buyer_email,-->
<!--            buyer_name: data.buyer_name,-->
<!--            buyer_tel: data.buyer_tel,-->
<!--            display: { card_quote: [3] }-->
<!--        }, function (rsp) { // callback-->
<!--            if (rsp.success) {-->
<!--                console.log(rsp);-->
<!--                //결제 성공시 로직-->
<!--                data.imp_uid = rsp.imp_uid;-->
<!--                data.merchant_uid = rsp.merchant_uid;-->
<!--                paymentComplete(data);-->

<!--            } else {-->
<!--                console.log(rsp);-->
<!--                alert(`결제에 실패하였습니다. 에러 내용: ${rsp.error_msg}`);-->
<!--            }-->
<!--        });-->
<!--    }-->

<!--    function paymentComplete(data){-->

<!--        $.ajax({-->
<!--            url: "/order/payment/complete",-->
<!--            method: "post",-->
<!--            headers: { "Content-Type": "application/json" },-->
<!--            data: data,-->
<!--        })-->


<!--    }-->

<!--    function CheckOk(){-->
<!--        const agreeChk = document.getElementById('order_agreement');-->
<!--        const paymentChk = document.getElementsByName('payment');-->

<!--        const is_checked = agreeChk.checked;-->

<!--        var paymentType = null;-->
<!--        var idx = 0;-->
<!--        for(var i = 0; i < paymentChk.length; i++){-->
<!--            if(paymentChk[i].checked == true){-->
<!--                paymentType = paymentChk[i].value;-->
<!--                idx = i;-->
<!--            }-->
<!--        }-->

<!--        if(paymentType === null){-->
<!--            alert("결제 수단을 선택하세요.")-->
<!--        }-->

<!--        if(is_checked === false){-->
<!--            alert("주문 동의를 해야 결제 가능합니다.")-->
<!--        }else{-->
<!--            if(paymentChk[idx].value === "credit"){-->
<!--                payment();-->
<!--            }else{-->
<!--                paymentCash();-->
<!--            }-->
<!--        }-->
<!--    }-->

<!--    function paymentCash(){-->
<!--        alert("현금결제입니다.");-->
<!--        location.href="/order_detail.html";-->
<!--    }-->
<!--</script>-->

<body>


<!--네비게이션-->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid relative">
        <a class="navbar-brand" href="#"><img th:src="@{/css/index/img/logo-Netflix.png}"
                                              alt="Responsive image LOGO"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">시리즈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">영화</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">내가 찜한 콘텐츠</a>
                </li>
                <li th:if="${loginMember != null}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        안녕하세요, <span th:text="${loginMember.name}"></span> 님!
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/mypage}" href="#">마이페이지</a></li>
                        <li>
                            <form class="dropdown-item" action="/logout" method="post">
                                <button class="logout-button" type="submit">로그아웃</button>
                            </form>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else Bam 🌰</a></li>
                    </ul>
                </li>
                <li th:unless="${loginMember != null}" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>
            </ul>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!--//네비게이션-->


<form action="/order/payment/complete" method="post">
    <table border="1">
        <tr>
            <td>구매자명</td>
            <td colspan="4" th:if="${loginMember != null}">
                <span th:text="${loginMember.name}"></span>
                <input type="hidden" name="buyer_id" th:value="${loginMember.id}">
                <input type="hidden" name="buyer_name" th:value="${loginMember.name}">
                <input type="hidden" name="buyer_email" th:value="${loginMember.email}">
                <input type="hidden" name="buyer_phone" th:value="${loginMember.phone}">
            </td>
        </tr>
        <div>
            <tr>
                <td colspan="5">구독권 구매</td>
            </tr>
            <tr th:each="data : ${selectList}">
                <td>
                    <img src="/css/order/img/lonely.png" alt="lonely_icon" style="width: 50px; height: 50px">
                    <input type="hidden" name="subscription_id" id="subscription_id" th:value="${data.id}">
                </td>
                <td>
                    <span th:text="${data.name}"></span>
                    <input type="hidden" name="product_name" th:value="${data.name}">
                </td>
                <td>
                    <span th:text="${data.price}"></span>원
                </td>
                <td><span th:text="${data.validityDays}"></span>일</td>
            </tr>
        </div>
        <tr>
            <td colspan="5">결제수단</td>
        </tr>
        <tr>
            <td colspan="4">
                <input type="radio" id="pay_credit" name="payment" value="credit">신용카드
                <input type="radio" id="pay_cash" name="payment" value="cash">계좌이체
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <input type="checkbox" id="order_agreement" name="order_agreement" value="agreeOk">
                주문 내용을 확인했으며, 아래 내용에 모두 동의합니다.
            </td>
        </tr>
    </table>
    <button type="button" onclick="location.href='subscription.html'" th:onclick="|location.href='@{/subscription}'|">
        취소
    </button>
    <button type="button" onclick="CheckOk()">결제하기</button>
</form>

<!--<script th:src="@{/js/jquery-3.6.0.min.js}" />-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    function CheckOk(){
        const agreeChk = document.getElementById('order_agreement');
        const paymentChk = document.getElementsByName('payment');

        const is_checked = agreeChk.checked;

        var paymentType = null;
        var idx = 0;
        for(var i = 0; i < paymentChk.length; i++){
            if(paymentChk[i].checked == true){
                paymentType = paymentChk[i].value;
                idx = i;
            }
        }

        if(paymentType === null){
            alert("결제 수단을 선택하세요.")
        }

        if(is_checked === false){
            alert("주문 동의를 해야 결제 가능합니다.")
        }else{
            if(paymentChk[idx].value === "credit"){
                // payment();

                const data = {
                    merchant_uid: createOrderNum(),
                    name : getNames(),
                    amount : getAmount(),
                    buyer_email: document.querySelector("input[name=buyer_email]").value,
                    buyer_name: document.querySelector("input[name=buyer_name]").value,
                    buyer_tel: document.querySelector("input[name=buyer_phone]").value
                }
                requestPay(data);

            }else{
                paymentCash();
            }
        }
    }

    // function payment(){
    //     const data = {
    //         merchant_uid: createOrderNum(),
    //         name : getNames(),
    //         amount : getAmount(),
    //         buyer_email: document.querySelector("input[name=buyer_email]").value,
    //         buyer_name: document.querySelector("input[name=buyer_name]").value,
    //         buyer_tel: document.querySelector("input[name=buyer_phone]").value
    //     }
    //
    //     requestPay(data);
    // }

    function createOrderNum(){
        const today = new Date();
        const hours = today.getHours(); // 시
        const minutes = today.getMinutes();  // 분
        const seconds = today.getSeconds();  // 초
        const milliseconds = today.getMilliseconds();
        const makeMerchantUid = "IMP" + hours +  minutes + seconds + milliseconds;

        return makeMerchantUid;
    }

    function getNames(){
        const nameList = document.querySelectorAll("input[name=product_name]");
        let names = "";

        nameList.forEach((name, index) => {
            if(index === nameList.length -1){
                names += name.value;
            }else {
                names += name.value + ", ";
            }
        });

        return names;
    }

    function getAmount(){
        const amountList = document.querySelectorAll("input[name=product_price]");
        let amounts = 0;

        amountList.forEach((amount, index) => {
            if(index === amountList.length -1){
                amounts += amount.value;
            }else {
                amounts += amount.value + ", ";
            }
        });

        return amounts;
    }

    var IMP = window.IMP;
    IMP.init('imp00155867')

    function requestPay(data) {
        IMP.request_pay({
            pg : 'html5_inicis',
            pay_method : 'card',
            merchant_uid: data.merchant_uid,
            name : data.name,
            amount : data.amount,
            buyer_email: data.buyer_email,
            buyer_name: data.buyer_name,
            buyer_tel: data.buyer_tel,
            display: { card_quote: [3] }
        }, function (rsp) { // callback
            if (rsp.success) {
                console.log("rsp : " + rsp);
                //결제 성공시 로직
                data.imp_uid = rsp.imp_uid;
                data.merchant_uid = rsp.merchant_uid;
                paymentComplete(data);

            } else {
                console.log("rsp : " + rsp);
                alert(`결제에 실패하였습니다. 에러 내용: ${rsp.error_msg}`);
            }
        });
    }

    function paymentComplete(data){

        $.ajax({
            url: "/order/payment/complete",
            method: "post",
            headers: { "Content-Type": "application/json" },
            data: data,
        })
            .done(function() {
                location.href = '/order/order_details';
            })
            .fail(function() {
                alert("결제에 실패하였습니다.");
                location.href='/subscription';
            })
    }


    function paymentCash(){
        const subscriptionId = document.querySelector("input[name='subscription_id']").value
        const memberId = document.querySelector("input[name='buyer_id']").value

        alert("현금결제입니다.");
        // location.href="/order/order_details";
        console.log("subId : " + subscriptionId);
        console.log("memId : " + memberId);

        const requestData = {
            subscriptionId : subscriptionId,
            memberId : memberId
        };

        $.ajax({
            url: "/order/cash/complete",
            method: "post",
            headers: { "Content-Type": "application/json" },
            data: JSON.stringify(requestData),
        })
            .done(function() {
                location.href = '/order/order_details';
            })
            .fail(function() {
                alert("결제에 실패하였습니다.");
                location.href='/subscription';
            })
    }
</script>

<!---footer---------->
<footer class="footer text-center mt-5 text-muted">
    <small>Copyright 2023. 🌰flix (Bamflix) All rights reserved.</small>
</footer>
<!---// footer---------->

</body>
</html>