<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bamflix.domain.cart.CartMapper">

  <insert id="insertContent" parameterType="com.bamflix.domain.cart.CartRequest" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO cart (id, member_id, content_id, delete_yn, created_at)
    VALUES (
            #{id},
            #{memberId},
            #{contentId},
            0,
            NOW()
            )
  </insert>

</mapper>