<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bamflix.domain.content.ContentMapper">
    <select id="getList" resultType="com.bamflix.domain.content.ContentResponse">
        select id, title, summary, img_name, img_path, uploaded_at, create_country, create_year, is_subscribe_yn, category, genre, director, price, delete_yn
        from content where delete_yn = 0;
    </select>

    <select id="getContent" resultType="com.bamflix.domain.content.ContentResponse">
        select id, title, summary, img_name, img_path, uploaded_at, create_country, create_year, is_subscribe_yn, category, genre, director, price, delete_yn
        from content where title=#{title} and delete_yn = 0;
    </select>


    <insert id="save" keyProperty="id" useGeneratedKeys="true" parameterType="com.bamflix.domain.content.ContentRequest">
        insert into content (id, title, summary, img_name, img_path, uploaded_at, create_country, create_year, is_subscribe_yn, category, genre, director, price, delete_yn)
        VALUES (
                #{id},
                #{title},
                #{summary},
                #{imgName},
                #{imgPath},
                now(),
                #{createCountry},
                #{createYear},
                #{isSubscribeYn},
                #{category},
                #{genre},
                #{director},
                #{price},
                0
               )
    </insert>

    <update id="update" keyProperty="id" useGeneratedKeys="true" parameterType="com.bamflix.domain.content.ContentRequest">
        update content
        set summary=#{summary}, img_name=#{imgName}, img_path=#{imgPath}, modified_date = now(), create_country=#{createCountry}, create_year=#{createYear}, category=#{category}, genre=#{genre},  is_subscribe_yn=#{isSubscribeYn}, director=#{director}, price=#{price}
        where title = #{title}
    </update>

    <update id="delete" keyProperty="id" useGeneratedKeys="true" parameterType="com.bamflix.domain.content.ContentRequest">
        update content
        set modified_date = now(),  delete_yn= 1
        where title = #{title}
    </update>
</mapper>