<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body align="center">
<form>
  <table border="1" align="center">
    <tr th:each="content : ${contents}">
      <td><span th:text="${content.id}"></span></td>
<!--      <td><img th:src="@{${content.getImgPath()}}"></td>-->
      <td><span th:text="${content.title}"></span></td>
      <td><span th:text="${content.summary}"></span></td>
      <td><span th:text="${content.imgPath}"></span></td>
      <td><span th:text="${content.uploadedAt}"></span></td>
      <td><span th:text="${content.createCountry}"></span></td>
      <td><span th:text="${content.createYear}"></span></td>
      <td><span th:text="${content.category}"></span></td>
      <td><span th:text="${content.genre}"></span></td>
      <td><span th:text="${content.director}"></span></td>
      <td><span th:text="${content.price}"></span></td>
    </tr>
  </table>

  <br><br>

  <button type="button" onclick="location.href='detail.html'"
          th:onclick="|location.href='@{/write}'|">추가
  </button>
  <button type="button" onclick="location.href='update.html'"
          th:onclick="|location.href='@{/update}'|">수정
  </button>
  <button type="button" onclick="location.href='delete.html'"
          th:onclick="|location.href='@{/delete}'|">삭제
  </button>


</form>

</body>
</html>