<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body  align="center">
<form th:action="@{/update}" method="post" enctype="multipart/form-data">
  <table align="center">
    <tr>
      <td>수정할 컨텐츠의 title : </td>
      <td><input type="text" id="title" name="title"></td>
    </tr>
    <tr>
      <td>summary : </td>
      <td><input type="text" id="summary" name="summary"></td>
    </tr>
    <tr>
      <td>Content Image Upload : </td>
      <td><input type="file" id="imgFile" name="imgFile"></td>
    </tr>
    <tr>
      <td>createCountry : </td>
      <td><input type="text" id="createCountry" name="createCountry"></td>
    </tr>
    <tr>
      <td>createYear : </td>
      <td><input type="text" id="createYear" name="createYear"></td>
    </tr>
    <tr>
      <td>category : </td>
      <td><input type="text" id="category" name="category"></td>
    </tr>
    <tr>
      <td>genre : </td>
      <td><input type="text" id="genre" name="genre"></td>
    </tr>
    <tr>
      <td>director : </td>
      <td><input type="text" id="director" name="director"></td>
    </tr>
    <tr>
      <td>price : </td>
      <td><input type="text" id="price" name="price"></td>
    </tr>
    <tr>
      <td>isSubscribeYn : </td>
      <td><input type="text" id="isSubscribeYn" name="isSubscribeYn"></td>
    </tr>

  </table>
  <br><br>

  <button type="submit">ok</button>
</form>
</body>
</html>